
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body { 
    @apply bg-slate-950 text-slate-100 overflow-x-hidden antialiased;
    font-family: 'Plus Jakarta Sans', sans-serif; 
    scrollbar-width: thin;
    scrollbar-color: #475569 #020617;
  }
}

@layer components {
  .glass {
    @apply bg-slate-900/60 border border-white/5 backdrop-blur-xl shadow-2xl;
  }
}

@layer utilities {
  ::-webkit-scrollbar {
    @apply w-[6px];
  }
  ::-webkit-scrollbar-track {
    @apply bg-slate-950;
  }
  ::-webkit-scrollbar-thumb {
    @apply bg-slate-700 rounded-full border-2 border-slate-950;
  }
}
